body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    /* impede rolagem horizontal */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: top center;
    height: 100vh;
    padding: 10%;
    /* 70px no topo para compensar a navbar */
    box-sizing: border-box;
    overflow: hidden;
    /* impede overflow */
}

h1 {
    font-size: 20rem;
    font-weight: 600;
    color: rgb(210, 35, 35);
    letter-spacing: 5px;
    font-style: italic;
}

h2 {
    font-size: 2rem;
    font-weight: 500;
    color: rgb(204, 24, 24);
    margin-top: -100px;
    margin-left: 40px;
    font-style: italic;
}